<a href="https://colab.research.google.com/github/AkshayaMohanakrishnan/Project_webscraping/blob/main/scrap_data_IPL_auction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import requests
import pandas as pd
from bs4 import BeautifulSoup

In [2]:
url = "https://www.iplt20.com/auction/2022"

In [3]:
r=requests.get(url)

In [4]:
soup =BeautifulSoup(r.text,"lxml")

In [5]:
table =soup.find("table",class_ = "ih-td-tab auction-tbl")

In [11]:
#print(table)
header=table.find_all("th")
#print(header)
titles=[]
for i in header:
  title = i.text
  titles.append(title)
#print(titles)

In [10]:
df =pd.DataFrame(columns=titles)
print(df)

Empty DataFrame
Columns: [TEAM, FUNDS REMAINING, OVERSEAS PLAYERS , TOTAL PLAYERS]
Index: []

In [22]:
rows =table.find_all("tr")
#print(rows)
for i in rows[1:]:
  first_td=i.find_all("td")[0].find("div",class_="ih-pt-ic").text.strip()
  data = i.find_all("td")[1:]
  row =[tr.text for tr in data]
  row.insert(0,first_td)
  #print(row)
  l =len(df)
  df.loc[l]=row
print(df)
df.to_csv("IPL_auction.csv")

                                         TEAM FUNDS REMAINING  \
0           \n\n\n\n\nChennai Super Kings\n\n    ₹2,95,00,000
1                \n\n\n\n\nDelhi Capitals\n\n      ₹10,00,000
2                \n\n\n\n\nGujarat Titans\n\n      ₹15,00,000
3         \n\n\n\n\nKolkata Knight Riders\n\n      ₹45,00,000
4          \n\n\n\n\nLucknow Super Giants\n\n              ₹0
5                \n\n\n\n\nMumbai Indians\n\n      ₹10,00,000
6                  \n\n\n\n\nPunjab Kings\n\n    ₹3,45,00,000
7              \n\n\n\n\nRajasthan Royals\n\n      ₹95,00,000
8   \n\n\n\n\nRoyal Challengers Bangalore\n\n    ₹1,55,00,000
9           \n\n\n\n\nSunrisers Hyderabad\n\n      ₹10,00,000
10          \n\n\n\n\nChennai Super Kings\n\n    ₹2,95,00,000
11               \n\n\n\n\nDelhi Capitals\n\n      ₹10,00,000
12               \n\n\n\n\nGujarat Titans\n\n      ₹15,00,000
13        \n\n\n\n\nKolkata Knight Riders\n\n      ₹45,00,000
14         \n\n\n\n\nLucknow Super Giants\n\n              ₹0
15               \n\n\n\n\nMumbai Indians\n\n      ₹10,00,000
16                 \n\n\n\n\nPunjab Kings\n\n    ₹3,45,00,000
17             \n\n\n\n\nRajasthan Royals\n\n      ₹95,00,000
18  \n\n\n\n\nRoyal Challengers Bangalore\n\n    ₹1,55,00,000
19          \n\n\n\n\nSunrisers Hyderabad\n\n      ₹10,00,000
20          \n\n\n\n\nChennai Super Kings\n\n    ₹2,95,00,000
21               \n\n\n\n\nDelhi Capitals\n\n      ₹10,00,000
22               \n\n\n\n\nGujarat Titans\n\n      ₹15,00,000
23        \n\n\n\n\nKolkata Knight Riders\n\n      ₹45,00,000
24         \n\n\n\n\nLucknow Super Giants\n\n              ₹0
25               \n\n\n\n\nMumbai Indians\n\n      ₹10,00,000
26                 \n\n\n\n\nPunjab Kings\n\n    ₹3,45,00,000
27             \n\n\n\n\nRajasthan Royals\n\n      ₹95,00,000
28  \n\n\n\n\nRoyal Challengers Bangalore\n\n    ₹1,55,00,000
29          \n\n\n\n\nSunrisers Hyderabad\n\n      ₹10,00,000
30                        Chennai Super Kings    ₹2,95,00,000
31                             Delhi Capitals      ₹10,00,000
32                             Gujarat Titans      ₹15,00,000
33                      Kolkata Knight Riders      ₹45,00,000
34                       Lucknow Super Giants              ₹0
35                             Mumbai Indians      ₹10,00,000
36                               Punjab Kings    ₹3,45,00,000
37                           Rajasthan Royals      ₹95,00,000
38                Royal Challengers Bangalore    ₹1,55,00,000
39                        Sunrisers Hyderabad      ₹10,00,000
40                        Chennai Super Kings    ₹2,95,00,000
41                             Delhi Capitals      ₹10,00,000
42                             Gujarat Titans      ₹15,00,000
43                      Kolkata Knight Riders      ₹45,00,000
44                       Lucknow Super Giants              ₹0
45                             Mumbai Indians      ₹10,00,000
46                               Punjab Kings    ₹3,45,00,000
47                           Rajasthan Royals      ₹95,00,000
48                Royal Challengers Bangalore    ₹1,55,00,000
49                        Sunrisers Hyderabad      ₹10,00,000

   OVERSEAS PLAYERS  TOTAL PLAYERS
0                  8            25
1                  7            24
2                  8            23
3                  8            25
4                  7            21
5                  8            25
6                  7            25
7                  8            24
8                  8            22
9                  8            23
10                 8            25
11                 7            24
12                 8            23
13                 8            25
14                 7            21
15                 8            25
16                 7            25
17                 8            24
18                 8            22
19                 8            23
20                 8            25
21                 7            24
22                 8            23
23                 8            25
24                 7            21
25                 8            25
26                 7            25
27                 8            24
28                 8            22
29                 8            23
30                 8            25
31                 7            24
32                 8            23
33                 8            25
34                 7            21
35                 8            25
36                 7            25
37                 8            24
38                 8            22
39                 8            23
40                 8            25
41                 7            24
42                 8            23
43                 8            25
44                 7            21
45                 8            25
46                 7            25
47                 8            24
48                 8            22
49                 8            23